body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.title-box {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
}

nav a:hover {
    color: #ccc;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.search-row {
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
}

#goodsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.map-container {
    width: 60vw;
    height: 60vh; /* Adjust height as needed */
    border-radius: 2rem;
  }
  
  /* Add this CSS to style the buttons container */
.button-container {
    display: flex;
    gap:10px;
    justify-content: center;
    margin-bottom: 10px;
  }
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
  }
  
  /* Add styles for the container of the buttons */
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  select,
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #66b3ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3385ff;
  }
  

/* NEW CSS */

.form-container {
  margin: 20px;
}

.product-info {
  margin-bottom: 10px;
}

.product-label {
  font-weight: bold;
}

.product-value {
  margin-left: 10px;
}

.submit-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

